.custom-card {
    max-width: 400px;
    border-radius: 30px !important;
    height: 529px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 6px rgba(0.1, 0.1, 0.1, 0.1)!important;
  
  }

  .btn-card{
    background-color: #E1EDD9 !important;
    border-radius: 10px !important;
    width: 110px;
    padding: 10px;
    height: 33px;
  
  }
  /* @media (max-width: 768px) {
    .btn a {
      font-size: 10px !important;
    }
  } */