.custom-card {
    max-width: 400px;
    border-radius: 30px !important;
    
    height: fit-content !important;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 6px rgba(0.1, 0.1, 0.1, 0.1)!important;
  
  }

  .btn-card{
    background-color: #E1EDD9 !important;
    border-radius: 10px !important;
    width: 110px;
    padding: 10px;
    height: 33px;
  
  }


.card-media {
  
  height: 0;
  padding-top: 100%; 
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}

.card-media img {
  position: absolute;
  top: 0;
  left: 0;
  
  
}

.card-media {
  position: relative;
}

.btn-buy {
  opacity: 0; 
  transition: opacity 0.3s ease-in-out; 
  border-radius: 30px !important;
    width: 150px;
    padding: 10px;
    
    height: 50px;
}


.btn-buy:hover {
  opacity: 1; 
}

/* Mobile and tablet responsiveness */
@media (max-width: 768px) {
  .card-media {
    
    padding-top: 100%;
  }
}

@media (max-width: 480px) {
  .card-media {
    
    padding-top: 100%;
  }
}
